@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #646cff;
}

* { box-sizing: border-box; }
html, body, #root { height: 100%; margin: 0; }

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

